@font-face {
  font-family: 'RussoOne';
  src: url('RussoOne.svg#RussoOne') format('svg'),
       url('RussoOne.ttf') format('truetype'),
       url('RussoOne.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Russo_One';
  src: url('Russo_One.eot');
  src: url('Russo_One.eot?#iefix') format('embedded-opentype'),
       url('Russo_One.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

